.honey-barrel-highlight-element {
  outline: 3px solid #f4d345; 
  box-shadow: inset 0 0 0 1000px rgba(244, 211, 69, 0.3);
  cursor: crosshair !important;
  z-index: 9998; 
  position: relative;
}


body.honey-barrel-selecting {
    cursor: crosshair !important;
}
